/* common-style or utilities*/
body {
    font-family: "Poppins", sans-serif;
    background-color: white;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;

}

.gretest-show-block {
    background-color: black;
    width: 1322px;
    height: 646px;
    border-radius: 30px;
    margin-top: 30px;
    display: flex;
}

.the-gretest-show {
    margin-top: 120px;
    margin-left: 111px;
    width: 550px;
    height: 485px;
}

h1 {
    color: white;
    font-size: 70px;
    font-weight: 700;
    line-height: 15%;
}

p {
    color: white;
    font-weight: 400;
    font-size: 16px;
}

.button {
    background-color: orangered;
    margin-top: 30px;
    height: 40px;
    width: 120px;
    border-radius: 5px;
    color: white;
}

.bacground-image {}

.bacground-image img {
    height: 586px;
    margin-top: 60px;
    width: 550px;
}

/* second block started */
/* upcoming match block started */
.container1 {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.upcoming-match {
    width: 323px;
    height: 323px;
    background-color: black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;

    justify-content: center;

}

.upcoming-match1 {
    width: 252px;
    height: 64px;
    background-color: white;
    border-radius: 10px;

}

.upcoming-match1 a {
    text-decoration: none;

}

#match {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-weight: 600;
}

.button1 {
    width: 252px;
    height: 64px;
    background-color: white;
    border-radius: 10px;
    margin-top: 30px;
    font-weight: 800;
}

.button2 {
    width: 252px;
    height: 64px;
    border-radius: 10px;
    margin-top: 30px;
    font-weight: 800;
    color: white;
    background-color: blue;
}

/* upcoming match block end */
.transfer {
    width: 323px;
    height: 350px;
    border-radius: 10px;
    border: 1px solid wheat;
}

.transfer-imag img {
    width: 323px;
    height: 170px;
}

.transfer-button {
    width: 100px;
    height: 32px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 15px;
}

h3 {
    margin-top: 25px;
    margin-left: 15px;
    line-height: 10%;
}

.time-and-massage-icon {
    display: flex;
    margin-top: 40px;
    margin-left: 15px;

}

.course-duration {
    color: rgb(80, 74, 80);
    border-radius: 5px;
    font-size: 15px;

}

.fa-clock {
    margin-right: 10px;
}

.message {
    margin-left: 40px;
    color: rgb(80, 74, 80);
    border-radius: 5px;
    font-size: 15px;
}

.fa-message {
    margin-right: 10px;
}